<p>student-add-reactive-form works!</p>
<div class="container">
    <div class="row col-md-12">
        <form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
            <!-- Name of Student -->
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="sName">Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="sName" formControlName="sName">
                </div>
            </div>
            <!-- Semester of Student -->
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="semester">Semester</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="semester" formControlName="semester">
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="hobby">Hobby</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="hobby" formControlName="hobby">
                </div>
            </div>
            <!-- Submit of Student -->
            <div class="row col-md-2">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
